
.navbar{
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo{
    width: 150px;
}
.navbar-menu{
    display: flex;
    list-style: none;
    color: #49557e;
    justify-content: space-between;
    gap: 40px;
    font-size: 18px;
}

.navbar-right{
    color: transparent;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.navbar-right button{
    background: transparent;
    padding: 10px 20px;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.3s;
}

.navbar-right button:hover{
        background: #fff4f7;

}
.navbar-search-icon{
    position: relative;
}

.navbar-search-icon .dot{
    background-color: tomato;
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    top: -8px;
    right: -10px;
    border-radius: 5px;
}


.navbar-menu .active{
    padding-bottom:2px;
    border-bottom: 2px solid #49557e;

}